<%-include ('partials/header.ejs', { isLoggedIn })%>


    <div class="container-lg about-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit exercitationem laboriosam porro, hic quos voluptas a eveniet nam dolorem recusandae consectetur quo magnam beatae illum dicta corrupti placeat non nulla!</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat error, deserunt veritatis aspernatur vitae ab sequi distinctio ipsum eaque voluptatem autem voluptatum saepe et dicta minima, facere, ad consequatur quo.</p>
    </div>


<%-include ('partials/footer.ejs')%>